<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.softinovplus.mobilebiller.orange">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />-->

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Welcome"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authenticated"
            android:parentActivityName=".Welcome"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".BluetoothPrinterActivity"
            android:parentActivityName=".Authenticated"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <receiver
            android:name=".receivers.BootDeviceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--
            <service
            android:name=".services.RunAfterBootService"
            android:enabled="true"
            android:exported="true"/>
        -->

        <receiver android:name=".receivers.SmsBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".SMSsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".ChangePassword"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".InviteUser" />
        <activity
            android:name=".PrintNewSMS"
            android:parentActivityName=".Authenticated"
            android:configChanges="orientation|screenSize|keyboardHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Authenticated" />
        </activity>
        <activity android:name=".DefaulPrinterConfigActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".RechargeAccountMenu"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".MobileMoneyRecharge"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".Signup"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".TicketToShareActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".CreateUser"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".ListeRecuDistant"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".SearchSMSForm"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".SearchResult"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
    </application>

</manifest>